.featured-blog {
  --color-background: rgba(242, 242, 242, 1);
  --color-foreground: rgba(93, 102, 111, 1);
  --color-foreground-heading: rgba(28, 37, 57, 1);
  --color-foreground-subheading: rgba(93, 102, 111, 1);
  --color-background-subheading: rgba(255, 255, 255, 0);
  --color-border-subheading-bg: rgba(93, 102, 111, 0.3);
  background-color: var(--color-background);
  overflow: hidden;
}

.featured-blog .card-blog {
  --color-background: rgba(255, 255, 255, 1);
}

.featured-blog .product-grid > [class*="col-span-"] {
  display: flex;
}

.featured-blog .card-blog {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.featured-blog .card-blog-top {
  flex: 1 1 auto;
}

.featured-blog .card-blog-heading a {
  display: -webkit-box;
  overflow: hidden;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  min-height: calc(1.45em * 2);
}

.featured-blog .buttons-discover {
  display: flex;
  justify-content: center;
  margin-block-start: 60px;
}

@media (max-width: 767px) {
  .featured-blog .buttons-discover {
    margin-block-start: 40px;
  }
}
